<div class="card my-5">
  <div class="card body">
    <form (ngSubmit)="onSubmit()" #pagamentoForm="ngForm">
      <div class="form-group">
        <label for="descricao">Descrição</label>
        <input type="text" [(ngModel)]="pagamento.descricao" class="form-control" id="descricao" name="descricao"
          placeholder="Digite a descrição do pagamento" required #descricao="ngModel">
      </div>
      <div [hidden]="!descricao.pristine" class="alert alert-danger">Descrição é um campo obrigatório</div>
      <div class="form-group">
        <label for="valor">Valor</label>
        <input type="number" [(ngModel)]="pagamento.valor" class="form-control" id="valor" name="valor"
          placeholder="Digite o valor do pagamento" required #valor="ngModel">
      </div>
      <div [hidden]="!valor.pristine" class="alert alert-danger">Valor é um campo obrigatório</div>
      <div class="form-group">
        <label for="dataVencimento">Data de vencimento</label>
        <input type="text" [(ngModel)]="pagamento.dataVencimento" class="form-control" id="dataVencimento"
          name="dataVencimento" placeholder="Digite a data no formato 00/00/0000" required #dataVencimento="ngModel">
      </div>
      <div [hidden]="!dataVencimento.pristine" class="alert alert-danger">Data de vencimento é um campo obrigatório
      </div>
      <div class="form-group">
        <label for="funcionarioId">Funcionario</label>
        <input type="number" [(ngModel)]="funcid" class="form-control" id="funcionarioId" name="funcionarioId"
          style="width: 20%" placeholder="Digite o ID do funcionario">
      </div>
      <div [hidden]="!funcionario.pristine" class="alert alert-danger">Funcionario é um campo obrigatório</div>
      <button type="submit" [disabled]="!pagamentoForm.form.valid" class="btn btn-success">Registrar</button>
    </form>
  </div>
</div>