<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Cargo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let funcionario of funcionarios">
            <td>{{ funcionario.id }}</td>
            <td>{{ funcionario.nome }}</td>
            <td>{{ funcionario.cargo }}</td>
            <button class="btn-danger" (click)="onDelete(funcionario.id)">x</button>
          </tr>
        </tbody>
      </table>
    </div>
    <li class="list-inline-item"><a routerLink="/addfuncionario" class="btn btn-info">Adicionar Funcionário</a></li>
  </div>