<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>Cargo</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let funcionario of funcionarios">
          <th scope="row">{{ funcionario.id }}</th>
          <td>{{ funcionario.nome }}</td>
          <td>{{ funcionario.cargo }}</td>
          <td style="width: 20%; text-align: center">
            <button class="btn btn-primary btn-sm" (click)="onUpdate(funcionario)">Editar</button>
            &nbsp;
            <button class="btn btn-danger btn-sm" (click)="onDelete(funcionario.id)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button (click)="onCreate()" class="btn btn-success">Adicionar Funcionário</button>
  </div>
</div>