<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #autorizadorForm="ngForm">
      <div class="form-group">
        <label for="cargo">Cargo</label>
        <input type="text" [(ngModel)]="autorizador.cargo" class="form-control" id="cargo" name="cargo"
          placeholder="Digite o cargo" required #cargo="ngModel">
      </div>
      <div [hidden]="!cargo.pristine" class="alert alert-danger">Cargo é um campo obrigatório!</div>
      <div class="form-group">
        <label for="limite">Limite</label>
        <input type="number" [(ngModel)]="autorizador.limite" class="form-control" id="limite" name="limite"
          placeholder="Digite o limite disponivel" required #limite="ngModel">
        <div [hidden]="!limite.pristine" class="alert alert-danger">Limite é um campo obrigatório!</div>
      </div>
      <div class="form-group">
        <label for="disponivel">Disponivel?</label>
        <div class="input-group">
          <select class="custom-select" [(ngModel)]="autorizador.disponivel" id="disponivel" name="disponivel" required
            #disponivel="ngModel">
            <option value="s" selected>Sim</option>
            <option value="n">Não</option>
          </select>
        </div>
      </div>
      <div [hidden]="!disponivel.pristine" class="alert alert-danger">O campo de disponibilidade é obrigatório!</div>
      <button type="submit" [disabled]="!autorizadorForm.form.valid" class="btn btn-success">Registrar</button>
    </form>
  </div>
</div>