<div class="card my-5">
  <div class="card-body">
    <table id="tabela_Pagamentos" class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Descrição</th>
          <th scope="col">Solicitante</th>
          <th scope="col">Valor</th>
          <th scope="col">Vencimento</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pagamento of pagamentos">
          <td>{{ pagamento.id }}</td>
          <td>{{ pagamento.descricao }}</td>
          <td>{{ pagamento.funcionario.nome }}</td>
          <td>R${{ pagamento.valor }}</td>
          <td>{{ pagamento.dataVencimento }}</td>
          <td>{{ pagamento.status }}</td>
        </tr>
      </tbody>
    </table>
    <button routerLink="/addpagamento" class="btn btn-success">Adicionar Pagamento</button>
    &nbsp;
    <button routerLink="/autorizarpagamentos" class="btn btn-primary">Autorizar Pagamentos</button>
  </div>
</div>