<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Descrição</th>
          <th>Solicitante</th>
          <th>Valor</th>
          <th>Vencimento</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pagamento of pagamentos">
          <th scope="row">{{ pagamento.id }}</th>
          <td>{{ pagamento.descricao }}</td>
          <td>{{ pagamento.funcionario.nome }}</td>
          <td>{{ pagamento.valor | currency:'BRL' }}</td>
          <td>{{ pagamento.dataVencimento }}</td>
          <td>{{ pagamento.status }}</td>
          <td style="width: 15%; text-align: center">
            <button class="btn btn-primary btn-sm" (click)="openModal(modal, pagamento.ocorrencias)">Ocorrências</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button routerLink="/addpagamento" class="btn btn-success">Adicionar Pagamento</button>
    &nbsp;
    <button routerLink="/autorizarpagamentos" class="btn btn-warning">Autorizar Pagamentos</button>
  </div>
</div>


<ng-template #modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Ocorrências</h4>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-striped">
      <thead>
        <th>#</th>
        <th>Descrição</th>
        <th>Usuário</th>
      </thead>
      <tbody>        
        <tr *ngFor="let ocorrencia of ocorrencias">
          <th scope="row">{{ ocorrencia.id }}</th>
          <td>{{ ocorrencia.descricao }}</td>
          <td>{{ ocorrencia.usuario }}</td>
        </tr>    
      </tbody>
    </table>
  </div>
</ng-template>