<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Cargo</th>
            <th scope="col">Limite</th>
            <th scope="col">Disponivel</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let autorizador of autorizadores">
            <td>{{ autorizador.cargo }}</td>
            <td>{{ autorizador.limite }}</td>
            <td>{{ autorizador.disponivel }}</td>
            <button class="btn-danger" (click)="onDelete(autorizador.id)">x</button>
          </tr>
        </tbody>
      </table>
    </div>
    <li class="list-inline-item"><a routerLink="/addautorizador" class="btn btn-info">Novo</a></li>
  </div>