<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Cargo</th>
          <th>Limite</th>
          <th>Disponivel</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let autorizador of autorizadores">
          <th scope="row">{{ autorizador.id }}</th>
          <td>{{ autorizador.cargo }}</td>
          <td>{{ autorizador.limite | currency:'BRL' }}</td>
          <td>{{ autorizador.disponivel }}</td>
          <td style="width: 20%; text-align: center">
            <button class="btn btn-primary btn-sm" (click)="onUpdate(autorizador)">Editar</button>
            &nbsp;
            <button class="btn btn-danger btn-sm" (click)="onDelete(autorizador.id)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-success" (click)="onCreate()">Adicionar Autorizador</button>
  </div>
</div>