<div class="card my-5">
  <div class="card-body">
    <div class="form-check">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th></th>
            <th>#</th>
            <th>Descrição</th>
            <th>Solicitante</th>
            <th>Valor</th>
            <th>Vencimento</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pagamento of pagamentos">
            <td style="text-align: center">
              <input class="checkbox" (change)="onChange(pagamento.id, $event.target.checked)"
                name="{{ pagamento.descricao }}" type="checkbox" id="{{pagamento.id}}">
            </td>
            <td>{{ pagamento.id }}</td>
            <td>{{ pagamento.descricao }}</td>
            <td>{{ pagamento.funcionario.nome }}</td>
            <td>R${{ pagamento.valor }}</td>
            <td>{{ pagamento.dataVencimento }}</td>
            <td>{{ pagamento.status }}</td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-success" (click)="autorizar()">Autorizar</button>
      &nbsp;
      <button routerLink="/pagamentos" class="btn btn-info">Voltar</button>
    </div>
  </div>
</div>